# .env.example
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD_HERE@ep-wild-recipe-aecgevtf-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:YOUR_PASSWORD_HERE@ep-wild-recipe-aecgevtf.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require
